/Magazyn/nbproject/private/
/Kierowca/nbproject/private/
/Serwer/nbproject/private/
/Spedytor/nbproject/private/
/Magazyn/build/
/Magazyn/dist/
/Serwer/dist/
/Serwer/build/
/Kierowca/dist/
/Kierowca/build/
/Spedytor/build/
/Spedytor/dist/